<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">{{ title.toUpperCase() }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
  <form [formGroup]="dailyForm">
    <ion-list>

      <!-- ITEM SELECT -->
      <ion-item>
        <ion-label position="stacked">Item</ion-label>
        <ion-select formControlName="item" placeholder="Select Item">
          <ion-select-option *ngFor="let a of items" [value]="a.key">{{ a.value }}</ion-select-option>
        </ion-select>
      </ion-item>

      <small *ngIf="itemControl?.touched && itemControl?.invalid" class="error-message">
        Item is required.
      </small>

      <!-- DATE PICKER -->
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime-button datetime="datetime" [disabled]="true"></ion-datetime-button>
      </ion-item>

      <ion-modal keepContentsMounted="true">
        <ion-datetime id="datetime" formControlName="dateValue" presentation="date" prefer-wheel="true">
        </ion-datetime>
      </ion-modal>

      <!-- GODOWN SELECT -->
      <ion-item>
        <ion-label position="stacked">Ural/Godown <ion-text color="danger">(Required)</ion-text></ion-label>
        <ion-select placeholder="Select a Godown" formControlName="ural">
          <ion-select-option *ngFor="let a of urals" [value]="a.key">{{ a.value }}</ion-select-option>
        </ion-select>
      </ion-item>
      <small *ngIf="uralControl?.touched && uralControl?.invalid" class="error-message">
        Ural/Godown selection is required.
      </small>


      <!-- UNIT SELECT -->
      <ion-item>
        <ion-label position="stacked">Unit <ion-text color="danger">(Required)</ion-text></ion-label>
        <ion-select placeholder="Select a Unit" formControlName="unit">
          <ion-select-option *ngFor="let a of units" [value]="a.key">{{ a.value }}</ion-select-option>
        </ion-select>
      </ion-item>
      <small *ngIf="unitControl?.touched && unitControl?.invalid" class="error-message">
        Unit selection is required.
      </small>

      <!-- TEXT INPUTS -->
      <ion-item>
        <ion-label position="stacked">Lot Number</ion-label>
        <ion-input placeholder="Enter Lot Number" formControlName="lotNumber"></ion-input>
      </ion-item>
      <small *ngIf="lotNumberControl?.touched && lotNumberControl?.invalid" class="error-message">
        Lot Number is required.
      </small>

      <ion-item>
        <ion-label position="stacked">Vehicle Number</ion-label>
        <ion-input placeholder="Enter Vehicle Number" formControlName="vehicleNumber"></ion-input>
      </ion-item>
      <small *ngIf="vehicleNumberControl?.touched && vehicleNumberControl?.invalid" class="error-message">
        Vehicle Number is required.
      </small>

      <ion-item>
        <ion-label position="stacked">Bags</ion-label>
        <ion-input placeholder="Enter Bags" formControlName="bags" type="number"></ion-input>
      </ion-item>
      <small *ngIf="bagsControl?.touched && bagsControl?.invalid" class="error-message">
        Bags is required and must be a positive number.
      </small>

      <ion-item>
        <ion-label position="stacked">Weight</ion-label>
        <ion-input placeholder="Enter Weight" formControlName="weight" type="number"></ion-input>
      </ion-item>
      <small *ngIf="weightControl?.touched && weightControl?.invalid" class="error-message">
        Weight is required and must be a positive number.
      </small>

      <ion-item>
        <ion-label position="stacked">Moisture</ion-label>
        <ion-input placeholder="Enter Moisture" formControlName="moisture" type="number"></ion-input>
      </ion-item>
      <small *ngIf="moistureControl?.touched && moistureControl?.invalid" class="error-message">
        Moisture is required.
      </small>
      <ion-item>
        <ion-label position="stacked">Incharge</ion-label>
        <ion-input placeholder="Enter Incharge" formControlName="incharge"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" color="medium">Close</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" [disabled]="dailyForm.invalid">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


  </form>
</ion-content>