<ion-content [fullscreen]="false" class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-grid class="full-height-grid">
      <ion-row class="ion-justify-content-center ion-align-items-center full-height-row">
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card>
            <ion-card-content>
              <div class="logo-container">
                <img src="../../../assets/logo.webp" alt="logo" class="login-logo" />
              </div>

              <div class="login-tagline">
                <p>Welcome back! Please login to continue.</p>
              </div>

              <!-- Username -->
              <ion-item lines="inset">
                <ion-input placeholder="Username" formControlName="username" type="text"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
                <small>Username is required</small>
              </ion-text>

              <!-- Password -->
              <ion-item lines="inset">
                <ion-input placeholder="Password" formControlName="password" type="password">
                  <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                </ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                <small>Password is required</small>
              </ion-text>

              <!-- Login Button -->
              <div class="login-button-container">
                <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" [routerLink]="'/tabs'">Log
                  In</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>