<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="inset">

    <!-- Change Password -->
    <ion-item button (click)="changePassword()">
      <ion-icon name="lock-closed-outline" slot="start" color="medium"></ion-icon>
      <ion-label>Change Password</ion-label>
    </ion-item>

    <!-- Language Selection -->
    <ion-item>
      <ion-icon name="language-outline" slot="start" color="medium"></ion-icon>
      <ion-label>Language</ion-label>
      <ion-select interface="popover" [(ngModel)]="selectedLanguage">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="ta">தமிழ்</ion-select-option>
        <ion-select-option value="hi">हिंदी</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Notifications Toggle -->
    <ion-item>
      <ion-icon name="notifications-outline" slot="start" color="medium"></ion-icon>
      <ion-label>Notifications</ion-label>
      <ion-toggle slot="end" [(ngModel)]="notificationsEnabled"></ion-toggle>
    </ion-item>

    <!-- App Version Info -->
    <ion-item lines="none" disabled>
      <ion-icon name="information-circle-outline" slot="start" color="medium"></ion-icon>
      <ion-label>App Version: 1.0.0</ion-label>
    </ion-item>
  </ion-list>

  <div class="logout-container">
    <ion-button expand="block" color="danger" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Logout
    </ion-button>
  </div>

</ion-content>