<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="tab-content-animated">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tabs</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom" color="light" class="animated-tab-bar">
    <ion-tab-button *ngFor="let tab of tabs; let i = index" [tab]="tab.tab"
      [ngClass]="{'active-tab': selectedTab === tab.id, 'center-tab': tab.centerTab}" (click)="onTabClick(tab.id)">
      <ion-icon [name]="tab.icon"></ion-icon>
      <ion-label *ngIf="selectedTab === tab.id">{{ tab.label }}</ion-label>
      <ion-badge *ngIf="tab.badge" color="danger">{{ tab.badge }}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>