<ion-tabs>
  <ion-tab-bar slot="bottom" color="light" class="animated-tab-bar">

    <!-- Daily Process Tab -->
    <ion-tab-button tab="daily-process" [ngClass]="{'active-tab': selectedTab === 1}" (click)="onTabClick(tabs[0])">
      <ion-icon name="repeat-outline"></ion-icon>
      <ion-label *ngIf="selectedTab === 1" style="color: white;">Daily Process</ion-label>
    </ion-tab-button>

    <!-- Prestreaming Tab -->
    <ion-tab-button tab="prestreaming" [ngClass]="{'active-tab': selectedTab === 2}" (click)="onTabClick(tabs[1])">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label *ngIf="selectedTab === 2" style="color: white;">Prestreaming</ion-label>
    </ion-tab-button>

    <!-- Dash Board Tab -->
    <ion-tab-button tab="dashboard" [ngClass]="{'active-tab': selectedTab === 3, 'center-tab': true}"
      (click)="onTabClick(tabs[2])">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label *ngIf="selectedTab === 3" style="color: white;">Dash Board</ion-label>
    </ion-tab-button>

    <!-- Streaming Tab -->
    <ion-tab-button tab="streaming" [ngClass]="{'active-tab': selectedTab === 4}" (click)="onTabClick(tabs[3])">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label *ngIf="selectedTab === 4" style="color: white;">Streaming</ion-label>
    </ion-tab-button>

    <!-- Admin Tab -->
    <ion-tab-button tab="admin" [ngClass]="{'active-tab': selectedTab === 5}" (click)="onTabClick(tabs[4])">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label *ngIf="selectedTab === 5" style="color: white;">Admin</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>