<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{processId ? 'Edit Daily Process' : 'Create Daily Process'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <form [formGroup]="dailyProcessForm" (ngSubmit)="submitForm()">
    <ion-list style="background-color: var(--ion-color-background);">

      <!-- Item -->
      <ion-item>
        <ion-label position="floating">Item</ion-label>
        <ion-select formControlName="item" placeholder="Select Item">
          <ion-select-option *ngFor="let item of itemList" [value]="item._id">{{ item.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('item')">Item is required</ion-text>

      <!-- Date (Disabled) -->
      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-input [value]="dailyProcessForm.get('date')?.value | date: 'yyyy-MM-dd'" placeholder="2025-07-23" readonly
          (ionChange)="onDateChange()"></ion-input>
      </ion-item>

      <!-- Ural / Godown -->
      <ion-item>
        <ion-label position="floating">Ural / Godown</ion-label>
        <ion-select formControlName="ural" placeholder="Select Ural/Godown">
          <ion-select-option *ngFor="let ural of uralList" [value]="ural._id">{{ ural.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('ural')">Ural is required</ion-text>

      <!-- Unit -->
      <ion-item>
        <ion-label position="floating">Unit</ion-label>
        <ion-select formControlName="unit" placeholder="Select Unit">
          <ion-select-option *ngFor="let unit of unitList" [value]="unit._id">{{ unit?.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('unit')">Unit is required</ion-text>

      <!-- Lot Number -->
      <ion-item>
        <ion-label position="floating">Lot Number</ion-label>
        <ion-input formControlName="lotNumber" type="text" placeholder="000001"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('lotNumber')">Lot Number is required</ion-text>

      <!-- Vehicle Number -->
      <ion-item>
        <ion-label position="floating">Vehicle Number</ion-label>
        <ion-input formControlName="vehicleNumber" type="text" placeholder="TN 09 E 1431"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('vehicleNumber')">Vehicle Number is required</ion-text>

      <!-- Bags -->
      <ion-item>
        <ion-label position="floating">Bags</ion-label>
        <ion-input formControlName="bags" type="number" placeholder="24"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('bags')">Bags are required</ion-text>

      <!-- Weight -->
      <ion-item>
        <ion-label position="floating">Weight</ion-label>
        <ion-input formControlName="weight" type="number" placeholder="76"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('weight')">Weight is required</ion-text>

      <!-- Moisture -->
      <ion-item>
        <ion-label position="floating">Moisture</ion-label>
        <ion-input formControlName="moisture" type="number" placeholder="12.0"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('moisture')">Moisture is required</ion-text>

      <!-- Incharge (disabled) -->
      <ion-item>
        <ion-label position="floating">Incharge</ion-label>
        <ion-input formControlName="incharge" readonly></ion-input>
      </ion-item>

    </ion-list>

    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col size="6">
          <ion-button expand="block" type="button" color="medium" fill="outline" (click)="onCancel()">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6" *ngIf="processId === null">
          <ion-button expand="block" type="submit" [disabled]="dailyProcessForm.invalid">
            Submit
          </ion-button>
        </ion-col>
        <ion-col size="6" *ngIf="processId !== null">
          <ion-button expand="block" type="submit" [disabled]="isFormUnchanged() || dailyProcessForm.invalid ">
            Update
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>