<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/setting']">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card button (click)="goTo('daily-process')">
          <ion-card-header>
            <ion-icon name="list-outline" class="dashboard-icon"></ion-icon>
            <ion-card-title>Daily Process</ion-card-title>
            <div class="dashboard-count">{{ dailyProcessCount }} entries</div>
          </ion-card-header>
        </ion-card>

      </ion-col>

      <ion-col size="6">
        <!-- Prestreaming -->
        <ion-card button (click)="goTo('prestreaming')">
          <ion-card-header>
            <ion-icon name="water-outline" class="dashboard-icon"></ion-icon>
            <ion-card-title>Prestreaming</ion-card-title>
            <div class="dashboard-count">{{ prestreamingCount }} entries</div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card button (click)="goTo('streaming')">
          <ion-card-header>
            <ion-icon name="flash-outline" class="dashboard-icon"></ion-icon>
            <ion-card-title>Streaming</ion-card-title>
            <div class="dashboard-count">{{ streamingCount }} entries</div>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card button (click)="goTo('admin')">
          <ion-card-header>
            <ion-icon name="shield-checkmark-outline" class="dashboard-icon"></ion-icon>
            <ion-card-title>Admin</ion-card-title>
            <div class="dashboard-count">{{ adminUserCount }} pending</div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card button (click)="goTo('userlist')">
          <ion-card-header>
            <ion-icon name="people-outline" class="dashboard-icon"></ion-icon>
            <ion-card-title>User List</ion-card-title>
            <div class="dashboard-count">{{ userListCount }} users</div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>