ion-segment {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

ion-segment-button {
  border-radius: 16px;
  font-weight: 600;
}

ion-segment-button.ion-activated {
  box-shadow: 0 2px 8px rgba(85, 0, 0, 0.3);
}

ion-list {
  margin-top: 10px;
}

ion-item {
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(85, 0, 0, 0.12);
  --padding-start: 16px;
  --inner-padding-end: 16px;
  lines: inset;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

ion-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(85, 0, 0, 0.2);
}

ion-label h2 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 4px;
}

ion-label p {
  margin: 2px 0;
  font-size: 0.9rem;
}

ion-buttons {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

ion-button {
  --border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

ion-button[color="success"]:hover {
  background-color: #4caf50cc;
}

ion-text[color="medium"] p {
  color: #ddd;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  margin-top: 40px;
}
