<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Wet Paddy In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="false">
  <form [formGroup]="wetpaddyForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-input type="text" formControlName="date" (ionChange)="onDateChange('date')"
        placeholder="Select Date"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="wetpaddyForm.get('date')?.touched && wetpaddyForm.get('date')?.invalid">
      Date is required
    </ion-note>

    <ion-item>
      <ion-label position="floating">Party Name</ion-label>
      <ion-input formControlName="party_name" placeholder="Enter Party Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Broker Name</ion-label>
      <ion-input formControlName="broker_name" placeholder="Enter Broker Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Vehicle Number</ion-label>
      <ion-input formControlName="vehicle_number" placeholder="Enter Vehicle Number"></ion-input>
    </ion-item>
    <ion-note color="danger"
      *ngIf="wetpaddyForm.get('vehicle_number')?.touched && wetpaddyForm.get('vehicle_number')?.invalid">
      Vehicle number is required
    </ion-note>

    <ion-item>
      <ion-label position="floating">Driver Name</ion-label>
      <ion-input formControlName="driver_name" placeholder="Enter Driver Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cell Number</ion-label>
      <ion-input formControlName="cell_number" type="tel" placeholder="Enter Cell Number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Item</ion-label>
      <ion-select formControlName="item_id" placeholder="Select Item">
        <ion-select-option *ngFor="let item of itemList" [value]="item._id">
          {{ item.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-note color="danger" *ngIf="wetpaddyForm.get('item_id')?.touched && wetpaddyForm.get('item_id')?.invalid">
      Item is required
    </ion-note>

    <ion-item>
      <ion-label position="floating">Bill Number</ion-label>
      <ion-input formControlName="bill_number" placeholder="Enter Bill Number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bill Date</ion-label>
      <ion-input type="text" formControlName="bill_date" (ionChange)="onDateChange('bill_date')"
        placeholder="Select Bill Date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Moisture</ion-label>
      <ion-input type="number" formControlName="moisture" placeholder="Enter Moisture %"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bags</ion-label>
      <ion-input type="number" formControlName="bags" placeholder="Enter Number of Bags"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Weight (kg)</ion-label>
      <ion-input type="number" formControlName="weight" placeholder="Enter Weight in kg"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dried At</ion-label>
      <ion-input formControlName="dried_at" placeholder="Enter Drying Location"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col size="6">
          <ion-button expand="block" color="medium" fill="outline" type="button" (click)="onCancel()">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" type="submit" [disabled]="wetpaddyForm.invalid">
            {{ recordId ? 'Update' : 'Submit' }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>