<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>Wet Paddy In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="false">
  <form [formGroup]="wetpaddyForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime formControlName="date" presentation="date" [value]="wetpaddyForm.get('date')?.value"></ion-datetime>
    </ion-item>
    <ion-note color="danger" *ngIf="wetpaddyForm.get('date')?.touched && wetpaddyForm.get('date')?.invalid">
      Date is required
    </ion-note>

    <ion-item>
      <ion-label position="floating">Party Name</ion-label>
      <ion-input formControlName="party_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Broker Name</ion-label>
      <ion-input formControlName="broker_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Vehicle Number</ion-label>
      <ion-input formControlName="vehicle_number"></ion-input>
    </ion-item>
    <ion-note color="danger"
      *ngIf="wetpaddyForm.get('vehicle_number')?.touched && wetpaddyForm.get('vehicle_number')?.invalid">
      Vehicle number is required
    </ion-note>

    <ion-item>
      <ion-label position="floating">Driver Name</ion-label>
      <ion-input formControlName="driver_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cell Number</ion-label>
      <ion-input formControlName="cell_number" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Item</ion-label>
      <ion-select formControlName="item_id" placeholder="Select Item">
        <ion-select-option *ngFor="let item of itemList" [value]="item._id">
          {{ item.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-note color="danger" *ngIf="wetpaddyForm.get('item_id')?.touched && wetpaddyForm.get('item_id')?.invalid">
      Item is required
    </ion-note>

    <ion-item>
      <ion-label position="floating">Bill Number</ion-label>
      <ion-input formControlName="bill_number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bill Date</ion-label>
      <ion-datetime formControlName="bill_date" presentation="date"
        [value]="wetpaddyForm.get('bill_date')?.value"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Moisture</ion-label>
      <ion-input type="number" formControlName="moisture"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bags</ion-label>
      <ion-input type="number" formControlName="bags"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Weight (kg)</ion-label>
      <ion-input type="number" formControlName="weight"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dried At</ion-label>
      <ion-input formControlName="dried_at"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col size="6">
          <ion-button expand="block" color="medium" fill="outline" type="button" (click)="onCancel()">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" type="submit" [disabled]="wetpaddyForm.invalid">
            {{ recordId ? 'Update' : 'Submit' }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>