<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Wet Paddy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <form [formGroup]="wetpaddyForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime formControlName="date" presentation="date" readonly></ion-datetime>
    </ion-item>
    <small class="error" *ngIf="wetpaddyForm.get('date')?.touched && wetpaddyForm.get('date')?.invalid">
      Date is required
    </small>

    <!-- Party Name -->
    <ion-item>
      <ion-label position="floating">Party Name</ion-label>
      <ion-input formControlName="partyName"></ion-input>
    </ion-item>
    <small class="error" *ngIf="wetpaddyForm.get('partyName')?.touched && wetpaddyForm.get('partyName')?.invalid">
      Party name is required
    </small>

    <!-- Vehicle Number -->
    <ion-item>
      <ion-label position="floating">Vehicle Number</ion-label>
      <ion-input formControlName="vehicleNumber"></ion-input>
    </ion-item>
    <small class="error"
      *ngIf="wetpaddyForm.get('vehicleNumber')?.touched && wetpaddyForm.get('vehicleNumber')?.invalid">
      Vehicle number is required
    </small>

    <!-- Item Dropdown -->
    <ion-item>
      <ion-label position="floating">Item</ion-label>
      <ion-select formControlName="item" placeholder="Select Item">
        <ion-select-option *ngFor="let item of itemList" [value]="item._id">{{ item.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="wetpaddyForm.get('itemId')?.touched && wetpaddyForm.get('itemId')?.invalid">Item is
      required</ion-text>

    <!-- Moisture -->
    <ion-item>
      <ion-label position="floating">Moisture</ion-label>
      <ion-input type="number" formControlName="moisture"></ion-input>
    </ion-item>
    <small class="error" *ngIf="wetpaddyForm.get('moisture')?.touched && wetpaddyForm.get('moisture')?.invalid">
      Moisture is required
    </small>

    <!-- Bags -->
    <ion-item>
      <ion-label position="floating">Bags</ion-label>
      <ion-input type="number" formControlName="bags"></ion-input>
    </ion-item>
    <small class="error" *ngIf="wetpaddyForm.get('bags')?.touched && wetpaddyForm.get('bags')?.invalid">
      Bags are required
    </small>

    <!-- Weight -->
    <ion-item>
      <ion-label position="floating">Weight</ion-label>
      <ion-input type="number" formControlName="weight"></ion-input>
    </ion-item>
    <small class="error" *ngIf="wetpaddyForm.get('weight')?.touched && wetpaddyForm.get('weight')?.invalid">
      Weight is required
    </small>


    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col size="6">
          <ion-button expand="block" type="button" color="medium" fill="outline" (click)="onCancel()">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6" *ngIf="recordId === null">
          <ion-button expand="block" type="submit" [disabled]="wetpaddyForm.invalid">
            Submit
          </ion-button>
        </ion-col>
        <ion-col size="6" *ngIf="recordId !== null">
          <ion-button expand="block" type="submit" [disabled]="wetpaddyForm.invalid">
            Update
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>